.header {
	background-color: #960100;
	padding: 0;
	position: fixed;
	z-index: 20000000;
	padding: 0 !important;
}

.header__item {
	display: flex;
	align-items: center;
}

.cart__logo {
	font-size: 1.4rem;
}

.cart__link {
	transition: all 0.15s ease-in 0.075s;
	color: white;
	font-weight: 600;
}

.cart__link:hover {
	text-decoration: none;
	color: #ffc107;
}

.btn-outline-warning:hover {
	color: white;
}