.check {
	color: red;
	font-style: italic;
	font-size: 14px;
}

.duytridangnhap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.duytridangnhap label {
	margin: 0;
	padding: 0;
}

#logreg-forms {
	background: #fff !important;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	margin-bottom: 25px;
}

#logreg-forms span {
	color: red;
	font-style: italic;
}