#menu {
    color: white;
    font-size: 40px;
    height: 100%;
}

.menu_div:hover .slider_caterogies {
    display: block;
}

.menu_div:hover .overlay {
    display: block;
}

.menu_div {
    background-color: aqua;
    position: relative;
    z-index: 10000;
    padding: 0;
}
.menu_div::after {
    content: "";
    position: absolute;
    background-color: #ad2f2f;
    height: 30px;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.highlight {
    outline: 0.5px solid rgba(0, 0, 0, 0.08);
    outline-style: groove;
}
.body {
    background-color: #f5f8fd;
    padding-top: 20px;
}
.slider_caterogies {
    top: 61px;
    background: white;
    position: absolute;
    display: none;
    transition: all 0.3s ease-in;
    width: 200%;
}

.category {
    display: block;
    border-left: 3px solid #ad2f2f;
    width: 100%;
}

.category__adjust {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-start;
}

.category:hover .item {
    background-color: #ad2f2f;

    cursor: pointer;
}
.category__name {
    font-weight: 600;
}

.category:hover .category__name {
    color: white;
    transition: all 0.15s ease-in-out 0.075s;
}
.category:hover .category__icon {
    color: white;
    transition: all 0.15s ease-in-out 0.075s;
}

.sub-category {
    position: absolute;
    min-width: 200px;
    min-width: 952px;

    top: 0;
    left: 100%;
    display: none;
    z-index: 2;

    bottom: 0;
    background-color: white;
}




.category:hover .sub-category {
    display: block;
    transition: all 0.5s ease-in-out;
}

.categories {
    position: relative;
}

.item {
    background-color: #e6e6e6;
    padding: 8px 0;
    transition: all 0.12s ease-in-out 0.06s;
}
.item > a {
    text-decoration: none;
    color: #000;
}

.item > i {
    padding-left: 10px;
    color: grey;
}

.slider_caterogies {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 0;
    left: 0;
}

.category-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category__line {
    min-width: 200px;
    padding: 0px 5px;
    margin: 5px 5px;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
}

.category__line > a > img {
    object-fit: contain;
    background-position: center;
    height: 60px;
    width: 200px;
    transition: all 0.15s ease-in 0.075s;
}

.category__line > a {
    overflow: hidden;
}

.category__line > p {
    margin: 0;
    font-size: 0.9rem;
    transition: all 0.15s ease-in 0.075s;
    font-weight: 400;
    color: #797979;
}

.category__line > b {
    margin: 0;
}

.category__line > hr {
    margin: 5px 0;
}

.category__icon {
    color: white;
}

.category__line > a > img:hover {
    transform: scale(1.05);
}

.category__line > p:hover {
    cursor: pointer;
    color: #ad2f2f;
}

.overlay {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 200;
    display: none;
}
