/* Title */

$name__product: #4c4d4c;
$outline: #e6e6e6;

.body_product{
	    background-color: #fff !important;
}

.wrapper--top{
	background: #fff;
    margin-top: 74px;
}
.title {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;

    .id--sanpham {
        font-size: 1rem;
    }

    .start-ratting {
        font-size: 1rem;
        margin-bottom: 20px;

        .checked {
            color: orange;
        }
    }

    .name__product {
        color: $name__product;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .brand {
        color: #d82b2a;
        cursor: pointer;
        text-decoration: underline;
    }

    .price__product {
        color: #d82b2a;
        font-size: 1.6rem;
    }

    .warranty {
        font-size: 1rem;
        margin-top: 210px;
    }
    .select_color {
        width: 336px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;

        .color {
            width: 106px;
            height: 50px;
            border: 1px solid #c4c4c4;
            margin-bottom: 6px;

            margin-right: 6px;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 5px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            cursor: pointer;

           

            span {
                font-weight: 700;
            }
        }

        .color:hover {

            border:1px solid #e62e2d;
            color:#e62e2d;
        }

        .selected__color{
            border-color: #e62e2d ;
            color:#e62e2d;
            
        }
    }

    

  
}


// nút bấm
.interactive__general--info {
    margin-top: 50px;

    .interactive {
        a {
            text-decoration: none;
        }
        .button--inter {
            min-width: 160px;
            outline: none;
            padding: 20px 16px;
            border-radius: 5px;

            color: #fff;
            font-weight: 600;
        }

        .mua--ngay {
            background-color: #e62e2d;
            border: 1px solid #e62e2d;
            transition: all 0.4s ease-in-out;
        }

        .mua--ngay:hover {
            color: #e62e2d;
            background-color: #fff;
        }

        .themvao--giohang:hover {
            color: #407cea;
            background-color: #fff;
        }

        .themvao--giohang {
            background-color: #407cea;
            border: 1px solid #407cea;
            transition: all 0.4s ease-in-out;
        }
    }

    .general--info {
        position: absolute;
        right: 15px;
        left: 50%;
        top: 32%;
        // top: -110px;
        // right: 0;
        .table-adjust {
            width: 100%;
        }
    }
}

// slider and img
.slider {
    position: relative;
    width: 600px;

    .container__slider {
        overflow: hidden;
    }
    .arrow--right {
        position: absolute;
        right: 25px;
        top: 480px;
        color: #fff;
        cursor: pointer;
    }
    .arrow--left {
        position: absolute;
        left: 25px;
        top: 480px;
        color: #fff;
        cursor: pointer;
        opacity: 0;
    }

    .image {
        outline: 1px solid $outline;
        padding: 12px;
        margin-bottom: 15px;

        img {
            height: 380px;
            object-fit: contain;
            background-position: center center;
            max-width: -webkit-fill-available;

            transition: all 1s ease-in-out;
        }
    }

    @keyframes chuyenAnh {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }

    .slider__image {
        width: inherit;
        display: flex;
        flex-wrap: nowrap;

        transform: translateX(0);
        transition: all 0.5s ease-in-out;

        &__frame {
            margin-right: 5px;
            padding: 4px;
            border: 1px solid $outline;
            width: fit-content;

            cursor: pointer;
            transition: all 0.25s ease-in-out;

            &--detail {
                width: 100px;
                height: 126px;
                object-fit: cover;
                background-position: center center;
            }
        }
    }
}

.slider__image__frame:hover {
    border: 1px solid #d82b2a;
}

// thông tin bên dưới
.info__specific {
    display: flex;
    flex-wrap: wrap;
	background-color: #fff;

    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    position: relative;

	
    .info {
        position: relative;
        overflow: hidden;
		width :100%;

        padding: 10px 20px;
        #readmore {
            position: absolute;
            bottom: 0;
            left: 40%;

            padding: 0 10px;
        }

        #gradientback {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }
    }

    .specific {
        width: 420px;
        left: 980px;
        padding: 10px 20px;
    }
}

// đánh giá

.title_product_evaluate {
    margin: 10px auto;
}

.evaluate__sendratting {
	background-color: #fff;
    border-radius: 20px;
    border: 0.5px solid #c4c4c4;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .evaluate {
        margin-top: 30px;
        .block__star {
            display: flex;

            .average__star {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding:0 10px;

                .figure__average {
                    color: orange;
                    font-size: 30px;
                    padding-left: 10px;
                    display: inline;
                }
                .star_average {
                    font-size: 30px;
                }
            }

            .stick {
                width: 1px;
                background-color: #c4c4c4;
                margin: 10px 0;
            }

            .user__ratting {
                display: flex;
                flex-direction: column;
                padding: 20px 20px;

                &--sub {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    position: relative;
                    max-height: 30px;

                    & span {
                        margin: 10px 10px;
                    }

                    .ratting {
                        width: 500px;
                        height: 10px;
                        background: #c4c4c4;
                    }
                    .rat {
                        position: absolute;
                        width: 400px;
                        background-color: orange;
                        left: 67px;
                    }

                    .evaluate--adjust {
                        display: flex;
                        justify-content: space-between;
                        min-width: 120px;
                    }

                    .amount_evaluate {
                        margin-left: 10px;

                        text-align: left;
                    }
                }
            }

            .button_evaluate {
                margin: auto auto;

                button {
                    font-size: 14px;
                }
            }
        }
    }

    #type_evaluate {
        flex-direction: column;
        display: none;

        .send {
            position: relative;
            left: 992px;
            margin-bottom: 20px;
        }

        #choose_file {
            max-width: 400px;
            border: 1px solid #c4c4c4;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}

.checked {
    color: orange;
}

// css xem đánh giá
.cmt__evaluate {
    padding-left: 20px;
    p {
        margin: 0 0;
        font-size: 14px;
    }
    .user__cmt {
        &--img {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 221px;
                max-height: 300px;
                object-fit: cover;
                background-position: center center;
            }
        }
    }
}

.btn-morecmt {
    margin-left: 210px;
}

// hỏi đáp và  bình luận

.question_a_answer {
    form {
        padding: 10px 10px;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        position: relative;
    }

    .form-group {
        margin-bottom: 6px;
    }

    button {
        position: relative;
        left: 1022px;
        padding: 0 20px;
    }
}

.question_a_answer_cmt {
    margin-top: 20px;

    .check_rep {
        color: red;
    }

    i {
        font-size: 1rem;
        font-size: 17px;
    }
    .user_cmt {
        margin: 20px 0;
        .name__img {
            margin-bottom: 5px;
            img {
                height: 28px;
                width: 28px;
                object-fit: cover;
                background-position: center center;
            }
            span {
                font-weight: 700;
                font-size: 16px;
            }
        }

        .cmt {
            margin-left: 42px;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .rep {
            margin-left: 42px;
            .rep_cmt {
                border: 0.5px solid #c4c4c4;
                background-color: #eeeeee;
                padding: 15px 20px;
                border-radius: 5px;

                p {
                    margin: 10px 40px;
                }

                i {
                    margin-left: 40px;
                    font-size: 14px;
                    color: #999;
                }
            }
        }
    }

    .check_qtv::after {
        content: "QTV";
        margin-left: 10px;
        padding: 1px 4px;
        color: #fff;
        background-color: #e62e2d;
        border-radius: 3px;
        font-size: 14px;
    }

    .time_ago {
        font-size: 14px;
        color: #999;
        font-style: italic;
    }
}
