@charset "UTF-8";

.flex_mau{
	display: flex;
	justify-content: space-between;
	width: 300px;
	align-items: center;
}

.table_btn {
	width: 30% !important;
}

.general_info{
	padding: 10px 10px;
	background-color: #fff;
	margin-bottom: 20px;
}

.table_detail{
	background-color: #fff;
}

.suplier{
	margin-top:20px;
	padding: 10px 10px; 
	background-color: #fff;
}